@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }

/* body{
    font-family: 'YiSunShinDotumM';
} */
.guide{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    font-family: 'YiSunShinDotumM';
}
.square{
    float: left;
    width: 10px;
    height: 60px;
    background-color: #615136;
    margin-top: 10px;
}
.ment{
    margin-left: 40px;
}
.title{
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    border-bottom: 3px solid #615136;
    color: #615136;
}
.content{
    font-size: 28px;
    margin-top: 5px;
}
a.isbn{
    font-size: 28px;
    text-align: center;
    background-color: #615136;
    padding: 10px 20px;
    color: white;
    border-radius: 100px;
}
div.isbn{
    margin-top: 10px;
}
@media (min-width: 1025px){
    .guide{
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 50px;   
    }
    .title{
        font-size: 1.5rem;
    }
    .content{
        font-size: 1rem;
    }
    a.isbn{
        font-size: 1.5rem;
    }
}