@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal,bold; font-style: normal; }

.newbody{
    font-family: 'NanumSquareRound';
    font-size: 28px;
    margin: 70px;
}
.newbody table{
    width: 100%;
}
.newbody tr,td,th{
    margin-bottom: 20px;
}

.newbody input{
    width: 100%;
    border: none;
    outline: none;
}

.newbody input[type="text"]{
    border-bottom: 1px solid #615136;
}
.newbody textarea{
    width: 100%;
    height: 800px;
    /* float: left; */
    padding: 10px;
    border: 1px solid #DED2C0;
    border-radius: 20px;
    margin-top: 20px;
    align-items: center;
    outline: none;
}
select{
    text-align: center;
    /* padding: 0 1.5em; */
    border: none;
    background: url('../images/arrow.jpg') no-repeat 95% 50%;
    border-bottom: 1px solid #615136;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.newbutton{
    font-size: 30px;
    text-align: center;
    letter-spacing: 2rem;
    background-color: rgba(97, 81, 54, 0.9);
    padding: 15px 25px;
    margin-top: 30px;
    color: white;
    border-radius: 40px;
}
.newbutton:hover{
    font-weight: bold;
    background-color: white;
    border: 4px solid #615136;
    color: #615136;
}
