@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal,bold; font-style: normal; }

.board-detail{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    font-family: 'YiSunShinDotumM'
}
.square{
    float: left;
    width: 10px;
    height: 60px;
    background-color: #615136;
}
.title{
    margin-left: 40px;
    font-size: 55px;
    color: black;
}
.topinfo{
    height: 140px;
    margin: 0 20px;
}

.update_delete, .update_delete a{
    font-family: 'NanumSquareRound';
    font-size: 28px;
    text-align: right;
    text-decoration: none;
    color: #615136;
}
.content-comment{
    font-family: 'NanumSquareRound';
    font-size: 30px;
    margin: 30px 80px;
    
}
.content-comment textarea{
    width:89%;
    height: 50px;
    float: left;
    padding: 0 10px;
    border: 2px solid #615136;
    border-radius: 20px;
    align-items: center;
}
textarea:focus{
    outline: none;
}
.commentbtn{
    background-color: #615136;
    padding: 5px 15px;
    border-radius: 50px;
    margin-left:5px;
    color: white;
    border: none;
}
.listlink{
    width: 100%;
    margin: 0 auto;
    text-align:center;
    border-top: 1px dashed #615136;
    margin-top: 10px;
    padding:10px 0;
}
.listlink a{
    font-family: 'NanumSquareRound';
    font-size: 25px;
    color: #615136;
    text-decoration: none;
}
.comment-body{
    margin-top: 20px;
    text-align: center;
}
.comment-writer{
    font-weight: bold;
}
.date_delete{
    font-size: 20px;
    color: rgba(97, 81, 54, 0.5);
}
.date_delete a{
    font-family: 'NanumSquareRound';
    font-size: 20px;
    color: rgba(97, 81, 54, 0.5);
    text-decoration: none;
    text-align: center;
}

img.myprofile_img {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    margin-left: 30px;
    margin-bottom: 50px;
}
img.comment_img{
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 0 20px;
}

.postinfo{
    display: inline-block;
    font-size: 30px;
    margin-left: 20px;
    color: #615136;
}
.topinfo{
    margin-top: 30px;
    width: 700px;
    display: inline-block;
}
.sendmessage{
    float: right;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: 'YiSunShinDotumM';
    margin-right: 20px;
}
div.writer{
    font-weight: 1000;
}
div.writer a{
    margin-left: 40px;
    font-weight: normal;
}
.period .span1{
    font-weight: 1000;
}
.period .span2{
    font-weight: normal;
}
.postinfo a:link { color:#615136; text-decoration: none;}
.postinfo a:visited { color: #615136; text-decoration: none;}
.postinfo a:hover { color: #615136; text-decoration: none;}

.contents{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'NanumSquareRound';
    font-size: 35px;
}
.center-img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
