@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal,bold; font-style: normal; }

.board-detail{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    font-family: 'YiSunShinDotumM'
}
.square{
    float: left;
    width: 10px;
    height: 60px;
    background-color: #615136;
}
.title{
    margin-left: 40px;
    font-size: 55px;
    color: black;
}

/*
.content-info{
   // font-family: 'BBTreeGL';
    font-family: 'NanumSquareRound';
    font-size: 30px;
    margin-left: 80px;
}
.content-info a{
    text-decoration: none;
    color: black;
}
.content-body{
    font-family: 'NanumSquareRound';
    font-size: 30px;
    margin: 30px 70px;
    border-bottom: 1px dashed #615136;
}
*/


.content-comment{
    font-family: 'NanumSquareRound';
    font-size: 30px;
    margin: 30px 80px;
}
.content-comment textarea{
    width:88%;
    height: 50px;
    float: left;
    padding: 0 10px;
    border: 2px solid #615136;
    border-radius: 20px;
    align-items: center;
}
textarea:focus{
    outline: none;
}
.commentbtn{
    background-color: #615136;
    padding: 5px 18px;
    border-radius: 30px;
    margin-left:5px;
    color: white;
    border: none;
}
.listlink{
    width: 85%;
    margin: 0 auto;
    text-align:center;
    border-top: 1px dashed #615136;
    padding:20px 0;
}
.listlink a{
    font-family: 'NanumSquareRound';
    font-size: 25px;
    color: #615136;
    text-decoration: none;
}
.comment-body{
    margin-top: 20px;
}
.comment-writer{
    font-weight: bold;
}
.date_delete{
    font-size: 20px;
    color: rgba(97, 81, 54, 0.5);
}
.date_delete a{
    font-family: 'NanumSquareRound';
    font-size: 20px;
    color: rgba(97, 81, 54, 0.5);
    text-decoration: none;
    text-align: center;
}


img.myprofile_img {
    border-radius: 100%;
    width: 110px;
    height: 110px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.postinfo{
    display: inline-block;
    font-size: 30px;
    margin-left: 20px;
    color: #615136;
}
.topinfo{
    margin-top: 30px;
    width: 700px;
    display: inline-block;
}
.sendmessage{
    float: right;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    font-family: 'YiSunShinDotumM';
    margin-right: 20px;
}
div.writer{
    font-weight: 1000;
}
div.writer a{
    margin-left: 40px;
    font-weight: normal;
}
.period .span1{
    font-weight: 1000;
}
.period .span2{
    font-weight: normal;
}
.postinfo a:link { color:#615136; text-decoration: none;}
.postinfo a:visited { color: #615136; text-decoration: none;}
.postinfo a:hover { color: #615136; text-decoration: none;}

.contents{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}

.center-img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*
.golist-btn{
    background-color: #EBDDCA;
    padding: 15px 15px 15px 15px;
    font-size: 30px;
    border-radius: 10px;
    // box-shadow: 5px 5px 4px lightgrey;
    font-family: 'YiSunShinDotumM'; 
    margin-left: 675px;
}
a.golist-btn:link { color:#615136; text-decoration: none;}
a.golist-btn:visited { color: #615136; text-decoration: none;}
a.golist-btn:hover { color: #615136; text-decoration: none;}

.comments{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
textarea{
    width: 700px;
    height: 60px;
    outline: 2px solid #EBDDCA;
    font-size: 30px;
    font-family: 'YiSunShinDotumM';
    border-radius: 20px;
    margin-left: auto;

}
button{
    position: absolute;
    margin: 5px 0px 0px 50px;
    font-family: 'YiSunShinDotumM';
    font-size: 25px;
    background-color: #615136;
    border: 0px;
    color:white;
    border-radius: 10px;
    padding: 8px;
}
.delete{
    font-family: 'YiSunShinDotumM';
    font-size: 25px;
    background-color: #615136;
    border: 0px;
    color:white;
    border-radius: 10px;
    padding: 8px;
    float: right;
    vertical-align: middle;
}
*/