@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal,bold; font-style: normal; }


.guide{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    font-family: 'YiSunShinDotumM';
}
.square{
    float: left;
    width: 10px;
    height: 60px;
    background-color: #615136;
    margin-top: 10px;
}
.ment{
    margin-left: 40px;
}
.title{
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    border-bottom: 3px solid #615136;
    color: #615136;
}
.content{
    font-size: 28px;
    margin-top: 5px;
}
a.isbn{
    font-size: 28px;
    text-align: center;
    background-color: #615136;
    padding: 10px 20px;
    color: white;
    border-radius: 100px;
}
div.isbn{
    margin-top: 10px;
}
a.sitelink{
    text-decoration: none;
    color: #F2C60C;
}
@media (min-width: 1025px){
    .guide{
        padding: 20px 80px;
    }
    .ment{
        font-size: 1.7em;
        margin-left: 30px;
        margin-bottom: 0;
    }
    p.ment{
        font-size: 1em;
        color: gray;
    }
    .square{
        height: 50px;
        margin-top: 0px;
    }
    .title, .content{
        width: 95%;
        font-size: 1rem;
        margin: 10px auto;
    }
    .title{
        font-size:1.3rem;
    }
    .content{
        font-family: 'NanumSquareRound';
        padding: 0 10px;
    }
    a.isbn{
        font-size: 1rem;
        padding: 10px 20px;
    }
    div.isbn{
        margin-top: 10px;
    }
}