input.search-box{
    width: 95%;  
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
    position: relative;
    font-size: 50px;
}

.search-mark{
    height: 60px;
    position: absolute;
    top: 163px;
    left: 855px;
}