@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'UhBeepuding'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeepuding.woff') format('woff'); font-weight: normal; font-style: normal; }

.storename{
    text-align: center;
    margin-top: 30px;
}
span#name{
    font-size: 80px;
    font-family: 'YiSunShinDotumM';
}

.scrap_count{
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.scrap_count span{
    font-size: 40px;
    float: right;
    display: table-cell;
    vertical-align: middle;
}
.contents{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.sendmessage{
    float: right;
    /* background-color: #EBDDCA; */
    padding: 10px 15px 10px 15px;
    font-size: 25px;
    border-radius: 10px;
    border: 1px solid gray;
    /* box-shadow: 5px 5px 4px lightgrey; */
    font-family: 'YiSunShinDotumM';
}
.infotext{
    display: block;
}
.introduce{
    text-align: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'UhBeepuding';
}
table{
    width: 100%;
    margin-top: 20px;
}
td{
    font-size: 40px;
    font-family: 'YiSunShinDotumM';
}
td.icon{
    /* width: 60px; */
    vertical-align: top;
    box-align: center;
}
td.colname{
    width: 200px;
    vertical-align: top;
}
td.data{
    width: 600px;
    font-size: 30px;
    overflow: hidden;
}

div.review{
    font-size: 40px;
    font-family: 'YiSunShinDotumM';
}
.user_review{
    font-size: 30px;
}
.starR{
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;
}
.starR.on{
    background-position:0 0;
}

.uname, .ucontent, .ustar{
    display: inline;
    font-family: 'YiSunShinDotumM';
}

.uname{
    font-weight: 900;
    color: #615136
}
.ucontent{
    margin-left: 15px;
    margin-right: 15px;
}

.clawling{
    background-color: #EBDDCA;
    padding: 20px 15px 20px 15px;
    font-size: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px lightgrey;
    font-family: 'YiSunShinDotumM';   
}
a.clawling:link { color:#615136; text-decoration: none;}
a.clawling:visited { color: #615136; text-decoration: none;}
a.clawling:hover { color: #615136; text-decoration: none;}

.delete{
    float: right;
}
.summary{
    font-family: 'YiSunShinDotumM';   
    font-size: 30px;
    border-radius: 10px;
}

.inp_mod{
    width: 200px;
    height: 80px;
    font-family: 'YiSunShinDotumM';
    font-size: 25px;
    margin-top: 10px;
}
.inp_save{
    width:50px;
    background-color: #615136;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 15px;
    margin: 4px;
    cursor: pointer;
    /* border-radius: 10px; */
    float: right;
    margin-top: 40px;
    margin-right: 10px;
}

textarea#id_content{
    width: 715px;
    height: 60px;
    outline: 2px solid #EBDDCA;
    font-size: 30px;
    font-family: 'YiSunShinDotumM';
}
.rev_write{
    position: relative;
}
.rev_write button{
    /* font-family: 'YiSunShinDotumM';
    font-size: 30px; */
    position: absolute;
    margin: 5px 0px 0px 10px;
}

.delete, button{
    font-family: 'YiSunShinDotumM';
    font-size: 25px;
    background-color: #615136;
    border: 0px;
    color:white;
    border-radius: 10px;
    padding: 8px;
}

.delete a:link { color:white; text-decoration: none;}
.delete a:visited { color: white; text-decoration: none;}
.delete a:hover { color: white; text-decoration: none;}

/* .radio_star input[type='radio'] {
    -webkit-appearance:none;
    width:40px;
    height: 40px;
    border:1px solid black;
    border-radius:50%;
    outline:none;
    background:white;
}
.radio_star input[type='radio']:before {
    content:'';
    display:block;
    width:70%;
    height:70%;
    margin: 15% auto;  
    border-radius:50%;  
  }
.radio_star input[type='radio']:checked:before {
    background:rgb(254,215,86);
  } */

input[type="radio"]{
    display:none;
 }
 
input[type="radio"] + label{
     background-image:url(../img/gray_star.png);
     background-size: 60px 60px;
     height: 60px;
     width: 60px;
     display:inline-block;
     padding: 0 0 0 0px;
     cursor:pointer;
 }
 
input[type="radio"]:checked + label{
     background-image:url(../img/full_star.png);
     background-size: 60px 60px;
 }
.review_hs{
    margin-top: 40px;
}
.cr_review_ct{
    font-family: 'YiSunShinDotumM';
}
.cr_review_ct h3{
    font-weight: 800;
}
.cr_review_ct h3 a:link { color:#615136; text-decoration: none;}
.cr_review_ct h3 a:visited { color: #615136; text-decoration: none;}
.cr_review_ct h3 a:hover { color: #615136; text-decoration: none;}