{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<div class="receiver">
    {% if other.profileimg %}
        <img src="{{other.profileimg.url}}" alt="" class='mypage-prof-img'>
    {% else %}
        <img src="{% static 'images/basic-profile-img.png' %}" class='mypage-prof-img'>
    {% endif %}
        &nbsp;{{ other.nickname }}님과의 채팅<br>
</div>
<div class="chatbody" id="chatbody">
    {% for message in messages %}
        {% if message.sender != request.user %}
            
            <div class="chatcontent">{{ message.content }}</div>
            <div class="chat_time">{{ message.sentAt}}</div>
        {% else %}
            <div class="sendchat">
                {% if message.isRead == False %}
                    <span style="font-size:20px"><i>읽지않음</i></span> <!--안읽은것 표시-->
                {% endif %}
                <div class="chatcontent_r" style="text-align:right;position:right">
                {{ message.content }}</div>
                <div class="chat_time" style="text-align:right">{{ message.sentAt}}</div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<script>
$("#chatbody").scrollTop($("#chatbody")[0].scrollHeight);
</script>
<div class="chatform">
    <form class="writechat" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        {{ form.errors }}
        {{ form.non_field_errors }}
        <input type="submit" id='send' class="btnsend" value="보내기"/>
    </form>
</div>{% if not request.PC %}<br>{% endif %}
<a class="listlink" href="{% url 'listMessage' %}">목록</a>
<script type="text/javascript">
    function enter() { 
        if (window.event.keyCode == 13) {
            document.getElementById('send').click();
        }
    }
    
    
</script>

{% endblock %}