{% extends 'base.html' %}
{% block content %}

<table class="table">
    <tbody>
    {% for message in test %}
        {% if message.sender == request.user %}
        <tr onClick="location.href='{%url 'chat' message.recipient.id %}'">
            <td>{{ message.recipient.username }}</td>
            <td>{{message.summary}}</td>
            <td>{{message.sentAt}}</td>
        </tr>
        {% else %}
        <tr onClick="location.href='{%url 'chat' message.sender.id %}'">
            <td>{{ message.sender.username }}</td>
            <td>{% if message.isRead == False %}안읽음{% endif %}{{message.summary}}</td>
            <td>{{message.sentAt}}</td>
        </tr>
        {% endif %}
    
    {% endfor %}
    </tbody>
</table>  
{% endblock %}