{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}


<table class="table">
    <tbody>
    {% for message in test %}
    <tr>
        {% if message.sender == request.user %}
            {% if message.recipientProfile.profileimg %}
                <td><img src="{{message.recipientProfile.profileimg.url}}" alt="" class='mypage-prof-img'></td>
            {% else %}
                <td><img src="{% static 'images/basic-profile-img.png' %}" class='mypage-prof-img'></td>
            {% endif %}
            <td><a href="{% url 'chat' message.recipient.id %}">{{ message.recipientProfile.nickname }}</a></td>
            <td>{{message.summary}}</td>
            <td>{{message.sentAt}}</td>
        {% else %}
            {% if message.senderProfile.profileimg %}
                <td><img src="{{message.senderProfile.profileimg.url}}" alt="" class='mypage-prof-img'></td>
            {% else %}
                <td><img src="{% static 'images/basic-profile-img.png' %}" class='mypage-prof-img'></td>
            {% endif %}
            <td><a href="{% url 'chat' message.sender.id %}">{{ message.senderProfile.nickname }}</a></td>
            <td>{% if message.isRead == False %}안읽음{% endif %}{{message.summary}}</td>
            <td>{{message.sentAt}}</td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>  
{% endblock %}