{% extends 'base.html' %}
{% block content %}

<h1>From: {{ message.sender.username }}</h1>
<h1>To: {{ message.recipient.username }}</h1>
<br>
<h1>Message:</h1>
<h1>{{ message.content | linebreaks }}</h1>

{% if message.isRead %}
    <h3>{{ message.recipient.username }}님께서 확인했습니다.</h3>
{% else %}
    <h3>{{ message.recipient.username }}님께서 아직 확인하지 않았습니다.</h3>
{% endif %}

{% if message.sender != request.user %}
    <a href="{% url 'sendMessage' message.sender.id %}">답장하기</a>
{% endif %}

<a href="{% url 'listMessage' %}">목록</a>

{% endblock %}