@font-face { font-family: 'YiSunShinDotumM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'BBTreeGL'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGL.woff') format('woff'); font-weight: normal; font-style: normal; }

body{
    min-width: 1000px;
}
.signupbox {
    margin-top:20vh;
}
.signupbox a{
    color: black;
    text-decoration: none;

}
.member .icons{
    background-image: url("../images/member.png");
    background-size: contain;
    width: 350px;
    height: 350px;
}
.boss .icons{
    background-image: url("../images/boss.png");
    background-size: contain;
    width: 350px;
    height: 350px;
}
.row .text{
    font-family: 'YiSunShinDotumM';
    font-size: 45px;
    text-align: center;
    padding-top: 50px;
}