{% extends 'base.html' %}
{% block content %}
<form action="{% url 'listsearch' %}" method ="get">
    <input type='radio' name='searchtype' value='searchname' checked>이름검색
    <input type='radio' name='searchtype' value='searchaddr'>주소검색
    <input type="search" name="query">
    <input type="submit" name="" value="검색!">
</form>
<a href="{% url 'bookstore' %}">전체목록</a>
<table>
    <thead>
        <tr>
            <th>이름</th>
            <th>주소</th>
            <th>더보기</th>
        </tr>
    </thead>

    <tbody>
        {% for store in bookstores.all %}
        <tr>
            <td>{{store.name}}</td>
            <td>{{store.addr}}</td>
            <td><a href="{%url 'storedetail' store.bookstore_id%}">더보기</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}