<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% block content %}
    {% load staticfiles %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/realmap.css' %}">
    </head>
    <body>
        <form action="{% url 'mapsearch' %}" method="get" class="search-act">
        <div class="rbtn">
            <!-- <div class="radio-wrap"> -->
                <input type='radio' name="searchtype" value='searchname' id="f-option" checked>
                <label for="f-option">이름검색</label>
            <!-- </div> -->
            <!-- <div class="radio-wrap"> -->
                <input type='radio' name="searchtype" value='searchaddr' id="s-option">
                <label for="s-option">주소검색</label>
            <!-- </div> -->
        </div>
        <div class="sbox">
            <input type="search" class="search-box" name="query">
            <img src="{% static 'img/search.png' %}" class="search-mark">   
        </div>
        <!-- <input type="submit" name="" value="검색!">  -->
        </form>
        <script>
            $('img.search-mark').click(function(){
                $('.search-act').submit();
            })
        </script>
        
        <div id="map" class="map"></div>
        <div class="btn-container">
        <div class="seeall"><a href="{%url 'realmap'%}">ALL</a></div><br>
        <!-- <div class="seelist"><a href="{% url 'bookstore' %}">LIST</a></div>  -->
        </div>
        <div id="search-map">
                <!-- style="position:absolute;top:900px;" -->
        <!-- <div id="question"> <form action="{% url 'mapsearch' %}" method ="get">
            <input type='radio' name='searchtype' value='searchname' checked>이름검색
            <input type='radio' name='searchtype' value='searchaddr'>주소검색
            <input type="search" name="query">
            <input type="submit" name="" value="검색!">
            <a href="{%url 'realmap'%}">전체</a>
        </form></div> -->


        <div id="list" class="list">
        <table class="table">
            <thead>
                <tr>
                <th>이름</th>
                <th>주소</th>
                <th>더보기</th>
                <!-- style="white-space:nowrap;" -->
                </tr>
            </thead>
            <tbody>
                {% for store in bs.all %}
                <tr onclick="list_click('{{store.addr}}');">
                    <td>{{store.name}}</td>
                    <td>{{store.addr}}</td>
                    <td><a class="sub-btn" href="{%url 'storedetail' store.bookstore_id%}">더보기</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- <div id="map" style="width:100%;height:550px;"></div> -->
    </div>



    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2da39c20f0c16cddf9d044b0011770fe&libraries=services"></script>
    <script type="text/javascript">
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.5527509,126.9648429), //센터는 서울시청
            level: 8 // 지도의 확대 레벨 - 숫자 클수록 축소, 작을수록 확대
        };  
    
    var map = new kakao.maps.Map(mapContainer, mapOption); 
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    var geocoder = new kakao.maps.services.Geocoder();
    let addrArr = {{ bsaddr | safe }};
    let nameArr = {{ bsname | safe }};
    let pkArr = {{ pklist | safe }};
    var selectedifw=null;
    let bounds = new kakao.maps.LatLngBounds();
    //내위치 받아와서 이미지마커로 표시하기
    var imageSrc = 'https://myrealdomain.com/images/my-icon-5.png', // 마커이미지의 주소입니다    
        imageSize = new kakao.maps.Size(35, 37); // 마커이미지의 크기입니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);
    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(function(position){
            lat=position.coords.latitude;
            lon=position.coords.longitude;
            var locPosition=new kakao.maps.LatLng(lat,lon);
            let marker = new kakao.maps.Marker({
                    map: map,
                    position: locPosition,
                    clickable: false,
                    title: '현재위치',
                    image: markerImage
            });
        });
    };
    function addrStoN(address,title,i){ //주소를 위도경도로 변환후 마킹
        geocoder.addressSearch(address,function(result, status){
            if (status === kakao.maps.services.Status.OK){
                let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
                let marker = new kakao.maps.Marker({
                    map: map,
                    position: coords,
                    clickable: true,
                    title: title
                });
                bounds.extend(coords);
                map.setBounds(bounds);
                let address_short = address.substr(0,20)
                let det_url='"{%url "storedetail" 123%}"'.replace('123',i);
                let content = '<div id="content" class="smallinfo">' + 
                        '<div class=title>' +
                        title + '</div>' +  
                        address_short + '<br>'+
                        '<a href='+det_url+' class="det-btn">더보기</a>'
                        '</div>';
                let ifw = new kakao.maps.InfoWindow({
                    content: content,
                    removable: false
                });

                kakao.maps.event.addListener(marker, 'click', function(){
                    if (!selectedifw || selectedifw !== ifw){
                        ifw.open(map,marker);
                    }
                    if (selectedifw){
                        selectedifw.close();
                    }
                    selectedifw=ifw;
                    
                });
            };
        });
        //title.style.fontSize = "40px";
    }
    function list_click(addr){
        map.setMinLevel(4);
        geocoder.addressSearch(addr,function(result, status){
            if (status === kakao.maps.services.Status.OK){
                let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
                let b = new kakao.maps.LatLngBounds();
                b.extend(coords);
                map.setBounds(b);
            };
        });
    }
    for(let i=0; i< addrArr.length;i++){
        addrStoN(addrArr[i],nameArr[i],pkArr[i]);
    };

    
    </script>
    <br>
    </body>
    {% endblock %}
</html>