<html>
{% extends 'base.html' %}
{% block content %}
<head>
    <style>
        .starR{
            background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
            background-size: auto 100%;
            width: 30px;
            height: 30px;
            display: inline-block;
            text-indent: -9999px;
            cursor: pointer;
        }
        .starR.on{
            background-position:0 0;
        }
    </style>
</head>

<body>
    <br>
    <h1>책방 이름 : <span id='name'>{{store.name}}</span></h1>
    <h3>스크랩 <span class="badge badge-secondary">{{store.like_count}}</span></h3>
    {% if store.boss %}
        {% if store.boss != request.user %}
        <a href="{% url 'chat' store.boss.id %}">쪽지보내기</a>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
        {% if scrap %}
            <h3><a href="{% url 'scrap' store.bookstore_id %}">스크랩취소</a></h3>
        {% else %}
            <h3><a href="{% url 'scrap' store.bookstore_id %}">스크랩</a></h3>
        {% endif %}
    {% endif %}
    <br><br>
    
    <h2>주소 : <span id='addr'>{{store.addr}}</span></h2>
    <h2>전화번호 : {{store.phone_number}}</h2>
    
    {% if store.site %}
        {% if 'http' in store.site %}
            <h2>홈페이지 : <a href="{{store.site}}">{{store.site}}</a></h2>
        {% else %}
            <h2>홈페이지 : <a href="http://{{store.site}}">{{store.site}}</a></h2>
        {% endif %}
    {% else %}
        <h2>홈페이지 : 없음</h2>
    {% endif %}

    {% if store.openhour %}
        <h2>{{store.openhour}}</h2>
    {% endif %}

    {% if introduce %}
        <h2>책방소개 : {{introduce}}</h2>
    {% endif %}
    {% if edit %}
    <div>
        <details>
            <summary>책방소개 수정하기</summary>
            <form action="{% url 'edit_save' store.bookstore_id %}" method="GET">
                <input name="introduce" type="text" value="">
                <input type="submit" value="저장하기">
            </form><br><br>
        </details>
    </div>
    {% endif %}
    <br>
  <!--해당서점 지도 표시-->
    <div id="map" style="width:50%;height:300px;position:relative;z-index:-1;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2da39c20f0c16cddf9d044b0011770fe&libraries=services"></script>
    <script type="text/javascript">
    
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.5527509,126.9648429), //센터는 서울시청
            level: 4, // 지도의 확대 레벨 - 숫자 클수록 축소, 작을수록 확대
            draggable: false
        };  
     
    var map = new kakao.maps.Map(mapContainer, mapOption); 
    var geocoder = new kakao.maps.services.Geocoder();
    map.setZoomable(true);
    let addr = document.getElementById('addr').innerHTML;
    let name = document.getElementById('name').innerHTML;

    function addrStoN(address,title){ //주소를 위도경도로 변환후 마킹
        geocoder.addressSearch(address,function(result, status){
            if (status === kakao.maps.services.Status.OK){
                let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
                let marker = new kakao.maps.Marker({
                    map: map,
                    position: coords,
                    clickable: false,
                    title: title
                });
                map.setCenter(coords);
            };
        });
    }
    addrStoN(addr,name);
    
    </script>
    
<br>
    <h2><b>리뷰</b> | 별점평균: {{star_avg}}</h2>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'reviewcreate' store.bookstore_id %}">
        {% csrf_token %}
        <span class="starRev form-group">
            <input name="star" value="1" type='radio'>
            <input name="star" value="2" type='radio'>
            <input name="star" value="3" type='radio'>
            <input name="star" value="4" type='radio'>
            <input name="star" value="5" type='radio'>
        </span>
        <script>
        $('.starRev span').click(function(){
            $(this).parent().children('span').removeClass('on');
            $(this).addClass('on').prevAll('span').addClass('on');
            return false;
          });
        </script>
        {{form}}
        <button type='submit'>등록!</button>
    </form>
    {% endif %}

    {% for review in reviews %}
        <p><strong>이름: {{review.user}}</strong> | 내용: {{ review.content }} | ★{{ review.star }}</p>
        {% if review.user == user %}<a href="{% url 'reviewdelete' review.id %}">삭제</a>{% endif %}
    {% endfor %}
    <br><br>
    <h2><a href="{% url 'crawling' store.bookstore_id %}">크롤링 리뷰보기 <i style="color: brown;">※주의※ 오래걸려요..!</i></a></h2>
    <div class='review_hs'>
        {%for review in rev%}
        <h2><a href={{review.link}}>{{review.title}}</a></h2>
        <br>
        <h4>{{review.content}}</h4>
        <br><br>
        {%endfor%}
    </div>
</body>
{% endblock %}
