<html>
<head>
    <style>
    .starR{
        background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
        background-size: auto 100%;
        width: 30px;
        height: 30px;
        display: inline-block;
        text-indent: -9999px;
        cursor: pointer;
    }
    .starR.on{
        background-position:0 0;
    }
</style>
</head>
<h1>책방 디테일 페이지</h1>
{% extends 'base.html' %}
{% block content %}
<body>
    <br>
    <h1>책방 이름 : <span id='name'>{{store.name}}</span></h1>
    <p>스크랩 <span class="badge badge-secondary">{{count}}</span></p>

    {% if user.is_authenticated %}
        {% if scrap %}
            <a href="{% url 'scrap' store.bookstore_id %}">스크랩취소</a>
        {% else %}
            <a href="{% url 'scrap' store.bookstore_id %}">스크랩</a>
        {% endif %}
    {% endif %}
    <br><br>
    
    <p>주소 : <span id='addr'>{{store.addr}}</span></p>
    <p>전화번호 : {{store.phone_number}}</p>
    
    {% if store.site %}
    <p>홈페이지 : <a href={{store.site}}>{{store.site}}</a></p>
    {% else %}
    <p>홈페이지 : 없음</p>
    {% endif %}
  <!--해당서점 지도 표시-->
    <div id="map" style="width:50%;height:300px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2da39c20f0c16cddf9d044b0011770fe&libraries=services"></script>
    <script type="text/javascript">
    
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.5527509,126.9648429), //센터는 서울시청
            level: 4 // 지도의 확대 레벨 - 숫자 클수록 축소, 작을수록 확대
        };  
     
    var map = new kakao.maps.Map(mapContainer, mapOption); 
    var geocoder = new kakao.maps.services.Geocoder();
    
    let addr = document.getElementById('addr').innerHTML;
    let name = document.getElementById('name').innerHTML;

    function addrStoN(address,title){ //주소를 위도경도로 변환후 마킹
        geocoder.addressSearch(address,function(result, status){
            if (status === kakao.maps.services.Status.OK){
                let coords = new kakao.maps.LatLng(result[0].y,result[0].x);
                let marker = new kakao.maps.Marker({
                    map: map,
                    position: coords,
                    clickable: false,
                    title: title
                });
                map.setCenter(coords);
            };
        });
    }
    addrStoN(addr,name);
    </script>
    

    리뷰 | 별점평균: {{star_avg}}
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'reviewcreate' store.bookstore_id %}">
        {% csrf_token %}
        <span class="starRev form-group">
            <input name="star" value="1" type='radio'>
            <input name="star" value="2" type='radio'>
            <input name="star" value="3" type='radio'>
            <input name="star" value="4" type='radio'>
            <input name="star" value="5" type='radio'>
        </span>
        <script>
        $('.starRev span').click(function(){
            $(this).parent().children('span').removeClass('on');
            $(this).addClass('on').prevAll('span').addClass('on');
            return false;
          });
        </script>
        {{form}}
        <button type='submit'>등록!</button>
    </form>
    {% endif %}

    {% for review in store.review_set.all %}
        <p><strong>{{review.user}}</strong> | {{ review.content }} | ★{{ review.star }}</p>
        {% if review.user == user %}<a href="{% url 'reviewdelete' review.id %}">삭제</a>{% endif %}
    {% endfor %}
    <br>

    <a href="{% url 'crawling' store.bookstore_id %}">크롤링 리뷰보기 <i>※주의※ 오래걸려요..!</i></a>
    <div class='review_hs'>
        {%for review in rev%}
        <a href={{review.link}}>{{review.title}}</a>
        <br>
        {{review.content}}
        <br><br>
        {%endfor%}
    </div>
</body>
{% endblock %}
