{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
{% load el_pagination_tags %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}">
</head>

<body>
<div class="board">
<div class="square"></div>
<h1 class="ment">홍보 게시판</h1>
<p class="ment">북콘서트, 전시회 등 문화행사를 홍보할 수 있는 게시판입니다.</p>

{% if key %}
<a href="{% url 'boardcreate' %}">새글작성</a>
{% endif %}

<form action="{% url 'boardsearch' %}" method ="get">
    <input type="search" name="query">
    <input type="submit" name="" value="검색!">
</form>
{% paginate cultures %}
<table class="table">
    <thead>
        <tr>
        <th>제목</th>
        <th>작성자</th>
        <th>행사날짜</th>
        </tr>
    </thead>
    <tbody>
    {% for cul in cultures.all %}
        <tr>
        <td><a href="{%url 'culturedetail' cul.id%}">{{cul.title}}</a></td>
        <td>{{cul.store}}</td>
        <td>{{cul.start_time}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>  
{% get_pages %} 
<h1>{{ pages.current_start_index }}-{{ pages.current_end_index }} of
{{ pages.total_count }}.</h1><br>
{# Just print pages to render the Digg-style pagination. #}
<h1>{{ pages.get_rendered }} </h1>
</div>
</body>


{% endblock %}