<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% block content %}
    {% load staticfiles %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/guide.css' %}">
    </head>
    <body><div class="guide">
    <div class="square"></div>
    <h1 class="ment">출판물 제작 가이드</h1>
    <p class="ment">나만의 책을 만들고 싶은 초보 작가들을 위한 게시판입니다.</p>
            
        <div class="title">
            1. 주제 정하기
        </div>
        <div class="content">
            본인이 표현하고 싶은 주제를 선정합니다. 
            <br> 이 작업을 정말 꼭 해야하는지 스스로에게 물어봐주세요. 독립출판을 하는 과정은 보람되지만 결코 간단하지만은 않습니다. 독립출판이 유행이니까, 사람들이 많이 한다고 하니까 나도 한번 해보자는 마음은 위험할 수 있습니다.
        </div>
        <div class="title">
            2. 다른 독립출판물들 살펴보기
        </div>
        <div class="content">
            여러 독립서점을 찾아가 다른 독립출판물을 살핍니다.<br> 
            정형화된 틀이 존재하지 않는 만큼 다른 독립출판물들은 어떻게 제작되었는지, 시선을 넓게 돌려 살펴볼 필요가 있습니다. 내용 구성에서부터 페이지 수, 표지 디자인, 제본 형식 등을 보세요. 내가 원하는 방향의 출판물을 만드는데 도움이 될 거에요.
        </div>
        <div class="title">
            3. 나만의 글쓰기
        </div>
        <div class="content">
            나만의 주제를 가지고 글을 써내려가 봅시다.<br>
            완벽함에 갇히지 말고, 어떤 생각이라도 좋으니 부담감을 내려놓고 자유롭게 쓰는 것이 중요합니다. 한글, 워드, 파워포인트 등의 프로그램을 사용하셔도 무방하지만, 출판하는데 있어 가장 좋은 프로그램은 바로 ‘인디자인’입니다. 기본을 익혀두면 활용하는데 큰 어려움은 없으니 인디자인 일일수업 혹은 온라인 강의를 통해 익혀보세요.
        </div>
        <div class="title">
            4. 교정교열하기
        </div>
        <div class="content">
            노인과 바다를 400여 차례 고쳐 썼다는 헤밍웨이의 유명한 말이 있죠.
            고쳐 쓰기의 중요성은 더 언급할 필요가 없습니다. 주변 사람들에게 글을 보여주고 피드백을 받아보세요. 그 외 오타나 비문, 문맥에 맞지 않는 문장을 고쳐 쓰는 것도 꼭 필요한 과정입니다.
        </div>
        <div class="title"> 
            5. 인쇄하기
        </div>
        <div class="content">
            인쇄소에 가서 사장님과 인쇄 과정을 논의하며 결과물을 만들 수도 있고, 인터넷으로 견적을 받아 바로 받아 볼 수도 있습니다. 인쇄는 디지털 인쇄와 옵셋 인쇄가 있는데요. 
            디지털 인쇄의 경우 1부만 찍는 것도 가능한 반면, 옵셋 인쇄는 최소 부수가 보통 500부 이상입니다.
        </div>
        <div class="title">
            6. 유통 및 홍보
        </div>
        <div class="content">
            첫 번째 방법은 독립서점에 연락하여 직접 책을 보내 유통하는 방법입니다. 내 책의 테마나 스타일이 비슷한 독립서점을 찾는 것이 중요할 수 있겠죠. 
            <br>두 번째는 국제표준도서번호(ISBN)를 받아 인터넷 서점에 유통하는 방법이 있습니다. 인터넷 서점에 입고하게 되면 더 많은 사람들에게 내 책을 소개할 수 있겠죠?
            <div class="isbn">
                <a href="https://seoji.nl.go.kr:444/front/isbn/info/page2_1_1.jsp" class="isbn">ISBN 신청하기</a>
            </div>
        </div>
    <br>
    <p>출처: https://blog.hyundai-mnsoft.com/1436 [현대엠엔소프트 공식 기업 블로그]</p>
    </div>
    </body>
    {% endblock %}
</html>