{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bossbook.css' %}">
</head>

<body>
    <div class="bossbook"> <div class="square"></div>
    <h1 class="ment">내 책방 찾기</h1>
    <p class="ment">내 책방을 찾고 선택하기 버튼을 눌러주세요.</p>

<a href="{% url 'addstore' %}">책방이 없으면 클릭!</a>

<table class="table">
    <thead>
    <tr>
        <th><B>책방이름</B></th>
        <th><B>주소</B></th>
        <th><B>선택</B></th>
    </tr>
    </thead>
    <tbody>
    {% for bookstore in bookstores.all %}
    <tr>
    <form method="GET" action="{% url 'boss' %}">  
        <td><input name="bsname" value="{{bookstore.name}}" readonly class="form-control-plaintext"></td>
        <td>{{bookstore.addr}}</td>
        <td> <input type="submit" value="선택하기" class="sub-btn"> </td>
    </form>
    </tr>
    {% endfor %}
    <tbody>
</table>
</div></body>

{% endblock %}