<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    {% block content %}
    {% load staticfiles %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    </head>
    <body>
        <img src="{% static 'images/booklogo.png' %}" class="logoimg">
        <form action="{% url 'login' %}" method='POST'>
        {% csrf_token %}
        <div class="loginbox">
            <label for="inp" class="inp">
            <input name="username" type="text" id="inp">
            <span class="label">아이디</span>
            <span class="border"></span>
            </label>

            <label for="inp" class="inp">
            <input name="password" type="password" id="inp">
            <span class="label">비밀번호</span>
            <span class="border"></span>
            </label>
        </div>
        
        <button type="submit" class='btn_login confirm-btn'></button>

        <div class="gotosignup">
        아직 회원이 아니신가요? <a href="{% url 'signup' %}"><u>회원가입</u></a> 하기
        </div>

    </body>

    {% endblock %}
</html>