{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
</head>
<div class='mypage-body'>
    <div class="title_mypage">
    <div class="square"></div>
    <h1 class="ment">프로필 편집</h1>
    <p class="ment" style="font-family: 'BBTreeGL';font-size:20px;">비밀번호는 변경을 원할 시에만 입력하세요.</p>
</div>
<div class="editprofile">
    <div class="row">
        <div class="col-3">
            {% if profile.profileimg %}
                <img src="{{profile.profileimg.url}}" alt="" id="img_show" class='mypage-prof-img' onclick="img_click();">
            {% else %}
                <img src="{% static 'images/basic-profile-img.png' %}" id="img_show" class='mypage-prof-img' onclick="img_click();">
            {% endif %}
            {% if store_name %}
                <div class='mypage-userid'>{{store_name}}</div>
            {% endif %}
            <div class='mypage-userid'>{{user.username}}</div>
        </div>
        <div class="col infobody">
            <form method="POST" action="{% url 'user_change' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class='mypage-profile-info'>닉네임 {{profile.nickname}}</div>
                <div class='mypage-profile-info'>이메일 {{profile.email}}</div>
                <div class='mypage-profile-info'>
                    <input class='mypage-profile-input' type='password' name='password1' placeholder='비밀번호 변경'/>
                </div>
                <div class='mypage-profile-info'>
                    <input class='mypage-profile-input' type='password' name='password2' placeholder='비밀번호 확인'/>
                </div>
                <input type="file" name="img_file" id="img_file" style="display:none" accept=".jpg,.jpeg,.png,.gif"/>
                <input type='submit' class='mypage-submit-btn' value='SAVE'/>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function img_click(){
        document.getElementById("img_file").click();
    };
    function readURL(input){
        if (input.files && input.files[0]){
            let reader = new FileReader();
            reader.onload = function (e) {
                $('#img_show').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#img_file').change(function(){
        readURL(this);
        alert("프로필 사진 등록을 마치려면 SAVE 버튼을 눌러 저장하세요.");
    });
</script>
<div class="title_mypage">
    <div class="square"></div>
    <h1 class="ment">나의 스탬프</h1>
</div>
<div class="stampbody">
    {% if store_name %}
    <div class="stamp_boss">
        <div class="stampment">아이디를 입력해주세요 :) 구매 금액 1 만원 당 스탬프 하나가 지급됩니다.
            <form method="GET" action="{% url 'stamppush' %}">
            <div class="row row-equal-height selectrow">
                <div class="col-5">
                    <input name="userid" class="stamp_id form-control-plaintext" placeholder="아이디">
                </div>
                <div class="col-4 radio_amount">
                    <input type="radio" name="count" value="1" id="1"><label for="1">&nbsp;1만원이상</label><br>
                    <input type="radio" name="count" value="2" id="2"><label for="2">&nbsp;2만원이상</label><br>
                    <input type="radio" name="count" value="3" id="3"><label for="3">&nbsp;3만원이상</label>
                </div>
                <div class="col">
                    <input type="submit" class="btnstamp" value="">
                </div>
            </div>
            </form> 
        </div>
    </div>
    {% else %}

    <div class="row stamp_member">
        <div class="col-6 stampnum">
        스탬프 수<br> {{stamp}}  개
        </div>
        <div class="col-6 stamplevel">
            현재 level {{level}} 입니다.<br>
            {% if next %}
            {{more}}개 더 모으면 level {{next}}!!
            {% else %}
            축하합니다! 최고 레벨입니다!!
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>

<div class='mypage-tab'>
    <ul class="nav nav-justified nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item nav-item-bookmark">
        <a class="nav-link active" id="pills-bookmark-tab" data-toggle="pill" href="#pills-bookmark" role="tab" aria-controls="pills-bookmark" aria-selected="true">즐겨찾기</a>
        </li>
        {% if store_name %}
            <li class="nav-item nav-item-mypost">
                <a class="nav-link" id="pills-mypost-tab" data-toggle="pill" href="#pills-mypost" role="tab" aria-controls="pills-mypost" aria-selected="false">내가 쓴 글</a>
            </li>
        {% endif %}
        <li class="nav-item nav-item-mycomment">
            <a class="nav-link" id="pills-mycomment-tab" data-toggle="pill" href="#pills-mycomment" role="tab" aria-controls="pills-mycomment" aria-selected="false">내가 쓴 댓글</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="scraplist tab-pane fade show active" id="pills-bookmark" role="tabpanel" aria-labelledby="pills-bookmark-tab">
            {% for scrap in scraps %}
            <span style="color:#FF0077;margin-left:50px;"><i class="fas fa-heart fa-2x"></i></span> &nbsp;&nbsp;&nbsp;
            <a href="{%url 'storedetail' scrap.store.bookstore_id%}">{{scrap.store}}</a><br>
            {% endfor %}
        </div>
        <div class="postlist tab-pane fade" id="pills-mypost" role="tabpanel" aria-labelledby="pills-mypost-tab">
            <table>
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>시작 날짜</th>
                        <th>책방 이름</th>
                    </tr>
                </thead>
                <tbody>
                    {% for culture in cultures %}
                    <tr onClick="location.href='{%url 'culturedetail' culture.id%}'">
                        <td>{{culture.title}}</td>
                        <td>{{culture.start_time}}</td>
                        <td>{{culture.store.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="commentlist tab-pane fade" id="pills-mycomment" role="tabpanel" aria-labelledby="pills-mycomment-tab">
            <table>
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>댓글 내용</th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                    <tr onClick="location.href='{%url 'culturedetail' comment.culture.id%}'">
                        <td>{{comment.culture.title}}</td>
                        <td>{{comment.summary}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



    {% comment %} <h3>스크랩 한 책방</h3>
    {% for scrap in scraps %}
    >> <a href="{%url 'storedetail' scrap.store.bookstore_id%}">{{scrap.store}}</a><br>
    {% endfor %}
    <br> {% endcomment %}
</div>
<div class="quitwrapper">
    <button onclick="del_user();" class="quitbtn">탈퇴하기</button>
        <script type="text/javascript">
            function del_user(){
                let tf = confirm("정말로 탈퇴하시겠습니까?");
                if (tf === true){
                    location.href="{%url 'del_user' %}";
                    alert("성공적으로 탈퇴되었습니다.");
                };
            };
        </script>
</div>
{% endblock %}